<a 
	style="cursor: pointer;"
	[routerLink]="[index]"
	routerLinkActive="active"
	class="list-group-item clearfix">
	<!-- (click)="onSelected()" -->
	<!-- (click)="onItemClick( recipe.name, recipe.description, recipe.imagePath)" -->
	<div class="pull-left">
		<h4 class="list-group-item-heading"> {{recipe.name}} </h4>
		<p class="list-group-item-text"> {{recipe.description}} </p>
	</div>
	<span class="pull-right">
		<img [src]="recipe.imagePath"
			alt=" {{recipe.name}} " 
			class="img-responsive" 
			style="max-height: 50px">
	</span>
</a>

<!-- сделать событие на клик по одиночному элементу
передать это событие в recipes.component
и это передает в recipe-detail данные о кликнутом элементе и отображает детали -->