<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-success"
			(click)="onNewRecipe()">New Recipe</button>
			<!-- (click)='onAddRecipe()' -->
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<app-recipe-item
			*ngFor="let recipeEl of recipes; let i = index "
			[recipe] = recipeEl
			[index]="i"></app-recipe-item>	
			
			<!-- В recipes есть много отдельных элементов.
			Внутри app-recipe-item template, который выводит 1эл recipe.
			В данной итерации мы даем одному элементу назвдние recipeEl и привязываем его к recipe из template, чтобы этот перебор recipes принимал template и оторажал как один recipe : [recipe] = recipeEl.
			recipes находятся в этом компоненте, а внутри дочернего мы импортируем @Input() recipe: Recipe; -->

			<!-- <router-outlet></router-outlet> -->
 	</div>
</div>